<!DOCTYPE html>
<html>
<head>
<style>
tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>

<table style="font-family: arial, sans-serif;border-collapse: collapse;width: 100%;">
<tr>
    <th style="    border: 1px solid #dddddd;text-align: centre; padding: 8px;">Urgency Status</th>
    <th style="    border: 1px solid #dddddd;text-align: centre; padding: 8px;">Color</th>
</tr>
<tr>
    <td style="    border: 1px solid #dddddd;text-align: centre; padding: 8px;">Extraordinary Downtime/Low activity period</td>
    <td style="    border: 1px solid #dddddd;text-align: centre; padding: 8px;"><div  style="background-color:#ff9999;height:20px;"></div></td>

</tr>
<tr>
    <td style="    border: 1px solid #dddddd;text-align: centre; padding: 8px;">Next Standerd Downtime</td>
    <td style="    border: 1px solid #dddddd;text-align: centre; padding: 8px;"><div  style="background-color:#f7f9f9;height:20px;"></div></td>
</tr>
<tr>
    <td style="    border: 1px solid #dddddd;text-align: centre; padding: 8px;">Hotfix collection in verification</td>
    <td style="    border: 1px solid #dddddd;text-align: centre; padding: 8px;"><div  style="background-color:yellow;height:20px;"></div></td>

</tr>
<tr>
    <th style="    border: 1px solid #dddddd;text-align: centre; padding: 8px;">System Role For BYD/C4C</th>
    <th style="    border: 1px solid #dddddd;text-align: centre; padding: 8px;">Color</th>
</tr>
<tr>
    <td style="    border: 1px solid #dddddd;text-align: centre; padding: 8px;">Product module C4C/COD</td>
    <td style="    border: 1px solid #dddddd;text-align: centre; padding: 8px;"><div  style="background-color:#ABEBC6;height:20px;"></div></td>

</tr>
<tr>
    <td style="    border: 1px solid #dddddd;text-align: centre; padding: 8px;">Product module C4C/COD and BYD/TEM</td>
    <td style="    border: 1px solid #dddddd;text-align: centre; padding: 8px;"><div  style="background-color:#e2dbdb;height:20px;"></div></td>

</tr>
<tr>
    <th style="    border: 1px solid #dddddd;text-align: centre; padding: 8px;">System Role For S4H</th>
    <th style="    border: 1px solid #dddddd;text-align: centre; padding: 8px;">Color</th>
</tr>
<tr>
    <td style="    border: 1px solid #dddddd;text-align: centre; padding: 8px;">Product module SCP_ABAP/IBP</td>
    <td style="    border: 1px solid #dddddd;text-align: centre; padding: 8px;"><div  style="background-color:#ffb84d;height:20px;"></div></td>
</tr>
<tr>
    <th style="    border: 1px solid #dddddd;text-align: centre; padding: 8px;">Assembly form </th>
    <th style="    border: 1px solid #dddddd;text-align: centre; padding: 8px;">Color</th>
</tr>
<tr>
    <td style="    border: 1px solid #dddddd;text-align: centre; padding: 8px;">Incompleted assembly form</td>
    <td style="    border: 1px solid #dddddd;text-align: centre; padding: 8px;"><div  style="background-color:#e6ffff;height:20px;"></div></td>
</tr>
<tr>
    <th style="    border: 1px solid #dddddd;text-align: centre; padding: 8px;">Collection Type </th>
    <th style="    border: 1px solid #dddddd;text-align: centre; padding: 8px;">Color</th>
</tr>
<tr>
    <td style="    border: 1px solid #dddddd;text-align: centre; padding: 8px;">Hotfix Patch Collection</td>
    <td style="    border: 1px solid #dddddd;text-align: centre; padding: 8px;"><div  style="background-color:#2b7c2b;height:20px;"></div></td>
</tr>
<tr>
    <td style="    border: 1px solid #dddddd;text-align: centre; padding: 8px;">Emergency Patch Collection</td>
    <td style="    border: 1px solid #dddddd;text-align: centre; padding: 8px;"><div  style="background-color:#bb0000;height:20px;"></div></td>
</tr>
<tr>
    <td style="    border: 1px solid #dddddd;text-align: centre; padding: 8px;">Verification Patch Collection</td>
    <td style="    border: 1px solid #dddddd;text-align: centre; padding: 8px;"><div  style="background-color:#e78c07;height:20px;"></div></td>
</tr>

</table>
</body>
</html>